.abc {
    min-width: 20%;
    padding: 6px;
    float: right;
    text-align: center;
    margin-bottom: 0px;
}

.required-p {
    color: red;
}

.header-kh {
    padding-bottom: 15px;
}

.them {
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

label.error {
    color: red;
    font-size: 13px;
}

.header-kh i{
    font-size: 27px;
}

.dark-mode .content .table{
    color: white;
}

* {
    box-sizing: border-box;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #f1f1f1;
}

.grid-container
{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.card-img-top {
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/*paginate*/
.page {
    margin-top: 20px;
}

.btn-del {
    width: 49%;
    float: left;
}

.btn-up {
    width: 49%;
    float: right;
}

.btn-det {
    width: -webkit-fill-available;
}
.status {
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 16px;*/
    /*padding: 2px 4px;*/
    /*background: hsla(0,0%,100%,.8);*/
    /*font-size: 12px;*/
    /*letter-spacing: .8px;*/
    /*color: #d01345;*/
    /*line-height: 16px*/
    width: 111px;
    z-index: 1;
    position: absolute;
    left: 0;
    padding-right: 15px;
    overflow: hidden;
    top: -28px;
}
/*div.status:after {*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*    top: -15px;*/
/*    right: 8px;*/
/*    content: "";*/
/*    display: block;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    -webkit-transform: rotate(29deg);*/
/*    -moz-transform: rotate(29deg);*/
/*    -ms-transform: rotate(29deg);*/
/*    -o-transform: rotate(29deg);*/
/*    transform: rotate(29deg);*/
/*    background: #ee0629;*/
/*}*/
div.status a{
    display: block;
    position: relative;
    z-index: 2;
    padding: 0px 3px 3px;

    line-height: 25px;
    font-size: 10px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    background: #ee0629;
}
div.status_change a{
    display: block;
    position: relative;
    z-index: 2;
    padding: 0px 3px 3px;

    line-height: 25px;
    font-size: 10px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    background: #e81a1a;

}
div.status_change1 a{
    display: block;
    position: relative;
    z-index: 2;
    padding: 0px 3px 3px;

    line-height: 25px;
    font-size: 10px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    background: #2fc738;

}
div.status_change2 a{
    display: block;
    position: relative;
    z-index: 2;
    padding: 0px 3px 3px;

    line-height: 25px;
    font-size: 10px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    background: #2fbac7;
}
div.form-group label{
    float: left;
}
