.abc {
    min-width: 20%;
    padding: 6px;
    float: right;
    text-align: center;
    margin-bottom: 0px;
}

.required-p {
    color: red;
}

.header-course {
    padding-bottom: 15px;
}

.btn-header {
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.text-content {
    word-break: break-all;
}

label.error {
    color: red;
    font-size: 13px;
}

/*Loading ajax*/
#loading {
    background-color: white;
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    z-index: 1000000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    text-align: center;
}

#loading img {
    margin: auto;
    display: block;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    position: absolute;
    z-index: 999999;
}

#index p {
    margin: 0px;
}

