#highlighted {
    position: relative;
    background-color: #0a3457;
}
#highlighted .container-fluid h1,
#highlighted .container-fluid p {
    color: #fff;

}
#highlighted .container-fluid h1 {
    font-size: 54px;
    font-family: Verlag,museo-sans,'Helvetica Neue', Helvetica, Arial, sans-serif;
    /*color: #414141;*/
    font-weight: 300;
    padding-top: 93px;

}
#content {
    background-image: url("/public/img/forest.jpg");
    background-position: right bottom;
    background-repeat: no-repeat;
}
.interior-page {
    background-color: #fff;
    padding-bottom: 30px;
}
#highlighted+#content.interior-page .interior-page-nav {
    margin-top: -4em;
}
#highlighted+#content.interior-page .interior-page-nav,
.interior-page .interior-page-nav {
    padding-left: 0;
}
.sidebar {
    margin-top: 5em;
    margin-left: 3em;
}

.container-fluid>.row h2.crumb-title {
    margin-bottom: 0;
}
.page-title {
    min-height: 50px;
}
.page-title, ul {
    margin: 0;
    list-style: none;
}
.content-crumb-div {
    margin: 5px 0 20px;
}
a {
    text-decoration: none;
}
.container-fluid .row .modal,
.page .modal {
    position: fixed;
    top: 35%;
}
#highlighted+#content.interior-page .interior-page-nav,
.interior-page .interior-page-nav {
    padding-left: 0;
}
#highlighted+#content.interior-page .interior-page-nav {
    margin-top: -2em;
}
.dynamicDiv.panel-group {
    border: 1px solid #E7E9E9;
    margin-left: 30px;
}
.panel-group {
    margin-bottom: 0;
    background-color: #fff;
}
.panel-group .panel {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
}
.panel-group .panel-heading {
    padding: 0;
    border: none;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-group .panel-heading .panel-title {
    font-size: 1.1em;
    font-family: Verlag,museo-sans,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.interior-page-nav .panel-group .panel-heading .panel-title a {
    background: 0 0;
}
.panel-group .panel-heading .panel-title a {
    display: block;
    padding: 15px 45px 15px 15px;
    /*background: url(/resources/images/misc/icon_accordion-open.png) 95% center no-repeat #f6f6f6;*/
}
span.subMenuHighlight, ul.panel-heading li.panel-title a:hover {
    color: #ed3c95;
}
.panel-group .panel-heading .panel-title {
    font-size: 1.1em;
    font-family: Verlag,museo-sans,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
ul.panel-heading {
    margin-bottom: 1px;
}
.panel-group .panel-heading .panel-title a {
    display: block;
    padding: 15px 45px 15px 15px;
}
.panel-group {
    margin-bottom: 0;
    background-color: #fff;
}
.col-form-label-lg {
    margin-top: 10px;    background-color: white;

}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
}
.form-control {
    border-radius: 0;
}
.sidebar .item {
    margin-top: 1em;
}
.btn-primary {
    color: #fff;
    background-color: #DC143C;
    border-color: #ea3e10;
    width: 100%;
}
.btn-block {
    display: block;
}
.btn {
    padding: 8px 28px;
    font-weight: 400;
    -webkit-transition: background .3s ease-in;
    transition: background .3s ease-in;
    white-space: normal;
    border-width: 0 0 1px;
}
.content-area-right {
    margin-top: 10px;
    margin-left: 192px;
    margin-right: -35px;
}
@media (min-width: 992px){
    #highlighted .container-fluid {
        margin-bottom: 2.5rem;
    }
}
@media (min-width: 1200px){
    .col-lg-2 {
        width: 16.66%;
    }
}
.required-p {
    color: red;
}
.img{
    width: 30px;
}


